<!-- CPU section-->
<div id="cpuSection" class="section active">
  <div class="card mb-4">
    <div class="card-header">
      <h2>CPU Usage</h2>
    </div>
    <div class="card-body">
      <div class="chart-container">
        <canvas id="cpuChart"></canvas>
      </div>
    </div>
  </div>
</div>
