<!-- Disk section -->
<div id="diskSection" class="section">
  <div class="card mb-4">
    <div class="card-header">
      <h2>Disk Usage</h2>
    </div>
    <div class="card-body">
      <div class="chart-container">
        <canvas id="diskChart"></canvas>
      </div>
    </div>
  </div>
</div>
